/* Flex container */
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

/* Dirección */
.flex-row {
  flex-direction: row;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-rev {
  flex-direction: column-reverse;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* Align Items */
.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-stretch {
  align-items: stretch;
}

/* Align Self */
.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}
